.u-center-text {
    text-align: center !important;
}

.u-mbottom-small {
    margin-bottom: $spacing-small !important;
}
.u-mbottom-medium {
    margin-bottom: $spacing-medium !important;
}
.u-mbottom-large {
    margin-bottom: $spacing-large !important;
}
.u-mbottom-xl {
    margin-bottom: $spacing-xl !important;
}
.u-mtop-small {
    margin-top: $spacing-small !important;
}
.u-mtop-medium {
    margin-top: $spacing-medium !important;
}
.u-mtop-large {
    margin-bottom: $spacing-large !important;
}
.u-mtop-xl {
    margin-top: $spacing-xl !important;
}